<!-- templates/AppCoder/buscar_datos.html -->

{% extends 'base.html' %}

{% block title %}Buscar Datos - Mi Proyecto Django{% endblock %}

{% block content %}
    <h2>Buscar Datos</h2>

    <form method="post" action="{% url 'buscar_datos' %}">
        {% csrf_token %}
        
        <label for="{{ tu_formulario.criterio_busqueda.id_for_label }}">Criterio de Búsqueda:</label>
        {{ tu_formulario.criterio_busqueda }}
        
        <button type="submit">Buscar</button>
    </form>

    <!-- Otro contenido relacionado con la búsqueda -->
{% endblock %}
