<!-- myapp/templates/insertar_datos.html -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insertar Datos</title>
</head>
<body>

<h2>Insertar Datos</h2>

<!-- Formulario para insertar datos de la categoría -->
<form method="post" action="{% url 'insertar_datos' %}">
    {% csrf_token %}
    {{ categoria_form.as_p }}
    <button type="submit">Guardar Categoría</button>
</form>

<!-- Formulario para insertar datos del producto -->
<form method="post" action="{% url 'insertar_datos' %}">
    {% csrf_token %}
    {{ producto_form.as_p }}
    <button type="submit">Guardar Producto</button>
</form>

<!-- Formulario para insertar datos del cliente -->
<form method="post" action="{% url 'insertar_datos' %}">
    {% csrf_token %}
    {{ cliente_form.as_p }}
    <button type="submit">Guardar Cliente</button>
</form>

</body>
</html>
