{% extends 'base.html' %}

{% block title %}Insertar Datos - Mi Proyecto Django{% endblock %}

{% block content %}
    <h2>Insertar Datos</h2>
    
    <form method="post" action="{% url 'insertar_datos' %}">
        {% csrf_token %}
        
        <label for="{{ categoria_form.nombre.id_for_label }}">Nombre de Categoría:</label>
        {{ categoria_form.nombre }}
        
        <label for="{{ producto_form.nombre.id_for_label }}">Nombre de Producto:</label>
        {{ producto_form.nombre }}
        
        <label for="{{ cliente_form.nombre.id_for_label }}">Nombre de Cliente:</label>
        {{ cliente_form.nombre }}

        <!-- Otros campos y formularios relacionados -->

        <button type="submit">Guardar</button>
    </form>
{% endblock %}